@{
    Page.Title = "About Us";
}

<section id="main">
    <h1>This is Devops class</h1>
    <iframe width="564" height="480" src="https://www.youtube.com/embed/6ICplP5vbfY?list=RDNFsEqOBG51M" title="Jugraafiya | Super 30 | Hrithik Roshan &amp; Mrunal Thakur | Udit Narayan &amp; Shreya Ghoshal" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
